# Ignore Visual Studio temporary files, build results, and
# user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# Visual Studio local settings
.vs/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# SQL Server database files
*.mdf
*.ldf

# Others
_ReSharper*/
*.resharper
*.DotSettings.user

# Windows image file caches
Thumbs.db

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml
